<!-- Sidebar -->
<div class="sidebar sidebar-style-2 d-lg-none" data-background-color="dark2">
	<div class="sidebar-wrapper scrollbar scrollbar-inner">
		<div class="sidebar-content">

			<ul class="nav nav-primary" id="sidebar-tree-paths">

				<!-- Home section -->
				<li class="nav-item {% if 'index' in segment %} active {% endif %}">
					<a href="/index.html">
						<i class="fas fa-home"></i>
						<p>Home</p>
					</a>
				</li>

				<!-- About section -->
				<li class="nav-item {% if 'about' in segment %} active {% endif %}">
					<a href="/about.html">
						<i class="fas fa-table"></i>
						<p>About</p>
					</a>
				</li>

				<!-- Acquisition Plans -->
				<li class="nav-item {% if 'acquisition' in segment %} active {% endif %}">
					<a href="/acquisitions-status.html">
						<i class="fas fa-chart-line"></i>
						<p>Acquisitions Status</p>
					</a>
				</li>

				<!-- Events / anomalies section -->
				<li class="nav-item {% if 'events' in segment %} active {% endif %}">
					<a href="/events.html">
						<i class="fas fa-table"></i>
						<p>Events</p>
					</a>
				</li>

				<!-- Data takes section -->
				<li class="nav-item {% if 'data-' in segment %} active {% endif %}">
					<a href="/data-takes.html">
						<i class="fas fa-globe"></i>
						<p>Data Takes</p>
					</a>
				</li>

				<!-- Public Statistics -->
				<li class="nav-item {% if 'publication' in segment %} active {% endif %}">
					<a href="/publication-statistics.html">
						<i class="fas fa-chart-line"></i>
						<p>Statistics</p>
					</a>
				</li>

				<!-- Processors Releases -->
				<li class="nav-item {% if 'processors' in segment %} active {% endif %}">
					<a href="/processors-viewer.html">
						<i class="fas fa-industry-windows"></i>
						<p>Processors</p>
					</a>
				</li>

			</ul>

		</div>
	</div>
</div>
<!-- End Sidebar -->
        