{% extends "layouts/base-responsive.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

	<link rel="stylesheet" href="/static/assets/css/dashboard.css">

{% endblock stylesheets %}

{% block content %}

<!-- Define page content -->
<div class="content">
	<div class="page-inner">

		<!-- Breadcrumb -->
		<div class="page-header">
			<h4 class="page-title">Acquisition Service</h4>
			<ul class="breadcrumbs">
				<li class="nav-home">
					<a href="/index.html">
						<i class="flaticon-home"></i>
					</a>
				</li>
				<li class="separator">
					<i class="flaticon-right-arrow"></i>
				</li>
				<li class="nav-item">
					<a href="#">Quarterly Reports</a>
				</li>
				<li class="separator">
					<i class="flaticon-right-arrow"></i>
				</li>
				<li class="nav-item">
					<a href="#">Acquisition Service</a>
				</li>
			</ul>
		</div>

		<!-- Collapsible description panel -->
		<div class="row">
			<div class="card-body" style="padding-bottom: 0.0rem !important">
				<div class="flex flex-column faq-section">
					<div class="row">
						<div class="col-md-12">
							<div id="accordion">
								<div class="card">
									<div class="card-header" id="heading-description">
										<h5 class="mb-0" style="color: white">
											<a role="button" data-toggle="collapse" href="#description"
											   aria-expanded="false" aria-controls="description"
											   style="color: white; text-decoration: none">
												&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Description
											</a>
										</h5>
									</div>
									<div id="description" class="collapse hide" data-parent="#accordion"
										 aria-labelledby="heading-description">
										<div class="card-body">
											This view summarizes the global status of the Acquisition Service. The page
											is
											divided into two sections: <br>
											- Global acquisitions statistics, per Ground Station (the violet boxes);<br>
											- Details on acquisition failures (the pie charts);<br>
											Click on a pie chart to display the anomalies causing the discontinuity in
											the
											system availability. By default, results are referred to the previous
											completed quarter.
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Restricted Data -->
		<!-- Global statistics -->
		<div class="row">
			<div class="col-sm-6 col-md-3">
				<div class="card card-stats card-round">
					<div class="card-body ">
						<div class="row">
							<div class="col-5">
								<div class="icon-big text-center">
									<i class="flaticon-analytics text-info"></i>
								</div>
							</div>
							<div class="col-7 col-stats">
								<div class="numbers">
									<p class="card-category">Total planned acquisitions</p>
									<h4 class="card-title" id="planned-acquisitions-global-box">
										<div class="spinner">
											<div class="bounce1"></div>
											<div class="bounce2"></div>
											<div class="bounce3"></div>
										</div>
									</h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-md-3">
				<div class="card card-stats card-round">
					<div class="card-body ">
						<div class="row">
							<div class="col-5">
								<div class="icon-big text-center">
									<i class="flaticon-success text-success"></i>
								</div>
							</div>
							<div class="col-7 col-stats">
								<div class="numbers">
									<p class="card-category">Successful acquisitions</p>
									<h4 class="card-title" id="successful-acquisitions-global-box">
										<div class="spinner">
											<div class="bounce1"></div>
											<div class="bounce2"></div>
											<div class="bounce3"></div>
										</div>
									</h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-md-3">
				<div class="card card-stats card-round">
					<div class="card-body">
						<div class="row">
							<div class="col-5">
								<div class="icon-big text-center">
									<i class="flaticon-error text-danger"></i>
								</div>
							</div>
							<div class="col-7 col-stats">
								<div class="numbers">
									<p class="card-category">Failures due to Satellite issues</p>
									<h4 class="card-title" id="satellite-failures-global-box">
										<div class="spinner">
											<div class="bounce1"></div>
											<div class="bounce2"></div>
											<div class="bounce3"></div>
										</div>
									</h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-md-3">
				<div class="card card-stats card-round">
					<div class="card-body">
						<div class="row">
							<div class="col-5">
								<div class="icon-big text-center">
									<i class="flaticon-error text-danger"></i>
								</div>
							</div>
							<div class="col-7 col-stats">
								<div class="numbers">
									<p class="card-category">Failures due to Acquisition Service issues</p>
									<h4 class="card-title" id="acquisition-failures-global-box">
										<div class="spinner">
											<div class="bounce1"></div>
											<div class="bounce2"></div>
											<div class="bounce3"></div>
										</div>
									</h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Successful vs failed passes, per station (boxes) -->
		<div class="row">

			<!-- Svalbard -->
			<div class="col-md-4">
				<div class="card card-secondary">
					<div class="card-body skew-shadow">
						<h1 id="svalbard-station-box">
							<div class="spinner">
								<div class="bounce1"></div>
								<div class="bounce2"></div>
								<div class="bounce3"></div>
							</div>
						</h1>
						<h5 class="op-8">Successful passes over Svalbard</h5>
						<div class="pull-right">
							<h3 class="fw-bold op-8" id="svalbard-station-box-perc">
								<div class="spinner">
									<div class="bounce1"></div>
									<div class="bounce2"></div>
									<div class="bounce3"></div>
								</div>
							</h3>
						</div>
					</div>
				</div>
			</div>

			<!-- Inuvik -->
			<div class="col-md-4">
				<div class="card card-secondary">
					<div class="card-body skew-shadow">
						<h1 id="inuvik-station-box">
							<div class="spinner">
								<div class="bounce1"></div>
								<div class="bounce2"></div>
								<div class="bounce3"></div>
							</div>
						</h1>
						<h5 class="op-8">Successful passes over Inuvik</h5>
						<div class="pull-right">
							<h3 class="fw-bold op-8" id="inuvik-station-box-perc">
								<div class="spinner">
									<div class="bounce1"></div>
									<div class="bounce2"></div>
									<div class="bounce3"></div>
								</div>
							</h3>
						</div>
					</div>
				</div>
			</div>

			<!-- Matera -->
			<div class="col-md-4">
				<div class="card card-secondary">
					<div class="card-body skew-shadow">
						<h1 id="matera-station-box">
							<div class="spinner">
								<div class="bounce1"></div>
								<div class="bounce2"></div>
								<div class="bounce3"></div>
							</div>
						</h1>
						<h5 class="op-8">Successful passes over Matera</h5>
						<div class="pull-right">
							<h3 class="fw-bold op-8" id="matera-station-box-perc">
								<div class="spinner">
									<div class="bounce1"></div>
									<div class="bounce2"></div>
									<div class="bounce3"></div>
								</div>
							</h3>
						</div>
					</div>
				</div>
			</div>

			<!-- Maspalomas -->
			<div class="col-md-4">
				<div class="card card-secondary">
					<div class="card-body skew-shadow">
						<h1 id="maspalomas-station-box">
							<div class="spinner">
								<div class="bounce1"></div>
								<div class="bounce2"></div>
								<div class="bounce3"></div>
							</div>
						</h1>
						<h5 class="op-8">Successful passes over Maspalomas</h5>
						<div class="pull-right">
							<h3 class="fw-bold op-8" id="maspalomas-station-box-perc">
								<div class="spinner">
									<div class="bounce1"></div>
									<div class="bounce2"></div>
									<div class="bounce3"></div>
								</div>
							</h3>
						</div>
					</div>
				</div>
			</div>

			<!-- Neustrelitz -->
			<div class="col-md-4">
				<div class="card card-secondary">
					<div class="card-body skew-shadow">
						<h1 id="neustrelitz-station-box">
							<div class="spinner">
								<div class="bounce1"></div>
								<div class="bounce2"></div>
								<div class="bounce3"></div>
							</div>
						</h1>
						<h5 class="op-8">Successful passes over Neustrelitz</h5>
						<div class="pull-right">
							<h3 class="fw-bold op-8" id="neustrelitz-station-box-perc">
								<div class="spinner">
									<div class="bounce1"></div>
									<div class="bounce2"></div>
									<div class="bounce3"></div>
								</div>
							</h3>
						</div>
					</div>
				</div>
			</div>

			<!-- EDRS -->
			<div class="col-md-4">
				<div class="card card-secondary">
					<div class="card-body skew-shadow">
						<h1 id="edrs-box">
							<div class="spinner">
								<div class="bounce1"></div>
								<div class="bounce2"></div>
								<div class="bounce3"></div>
							</div>
						</h1>
						<h5 class="op-8">Successful passes using EDRS</h5>
						<div class="pull-right">
							<h3 class="fw-bold op-8" id="edrs-box-perc">
								<div class="spinner">
									<div class="bounce1"></div>
									<div class="bounce2"></div>
									<div class="bounce3"></div>
								</div>
							</h3>
						</div>
					</div>
				</div>
			</div>

		</div>

		<!-- Successful vs failed passes, per station (pie charts) -->
		<div class="row">

			<!-- Svalbard -->
			<div class="col-md-6">
				<div class="card">
					<div class="card-header row">
						<div class="card-title">Svalbard Acquisition Service availability</div>
						<i class="la flaticon-search-1 ml-2 mt-1" data-placement="bottom"
								   data-toggle="tooltip" onclick="acquisitionService.showAcquisitionStatistics('svalbard')"
								   title="Display the Svalbard acquisitions statistics"></i>
					</div>
					<div class="card-body">
						<div class="chart-container">
							<canvas id="svalbard-station-pie-chart" style="width: 50%; height: 50%"></canvas>
						</div>
					</div>
				</div>
			</div>

			<!-- Inuvik -->
			<div class="col-md-6">
				<div class="card">
					<div class="card-header row">
						<div class="card-title">Inuvik Acquisition Service availability</div>
						<i class="la flaticon-search-1 ml-2 mt-1" data-placement="bottom"
								   data-toggle="tooltip" onclick="acquisitionService.showAcquisitionStatistics('inuvik')"
								   title="Display the Inuvik acquisitions statistics"></i>
					</div>
					<div class="card-body">
						<div class="chart-container">
							<canvas id="inuvik-station-pie-chart" style="width: 50%; height: 50%"></canvas>
						</div>
					</div>
				</div>
			</div>

			<!-- Matera -->
			<div class="col-md-6">
				<div class="card">
					<div class="card-header row">
						<div class="card-title">Matera Acquisition Service availability</div>
						<i class="la flaticon-search-1 ml-2 mt-1" data-placement="bottom"
								   data-toggle="tooltip" onclick="acquisitionService.showAcquisitionStatistics('matera')"
								   title="Display the Matera acquisitions statistics"></i>
					</div>
					<div class="card-body">
						<div class="chart-container">
							<canvas id="matera-station-pie-chart" style="width: 50%; height: 50%"></canvas>
						</div>
					</div>
				</div>
			</div>

			<!-- Maspalomas -->
			<div class="col-md-6">
				<div class="card">
					<div class="card-header row">
						<div class="card-title">Maspalomas Acquisition Service availability</div>
						<i class="la flaticon-search-1 ml-2 mt-1" data-placement="bottom"
								   data-toggle="tooltip" onclick="acquisitionService.showAcquisitionStatistics('maspalomas')"
								   title="Display the Maspalomas acquisitions statistics"></i>
					</div>
					<div class="card-body">
						<div class="chart-container">
							<canvas id="maspalomas-station-pie-chart" style="width: 50%; height: 50%"></canvas>
						</div>
					</div>
				</div>
			</div>

			<!-- Neustrelitz -->
			<div class="col-md-6">
				<div class="card">
					<div class="card-header row">
						<div class="card-title">Neustrelitz Acquisition Service availability</div>
						<i class="la flaticon-search-1 ml-2 mt-1" data-placement="bottom"
								   data-toggle="tooltip" onclick="acquisitionService.showAcquisitionStatistics('neustrelitz')"
								   title="Display the Neustrelitz acquisitions statistics"></i>
					</div>
					<div class="card-body">
						<div class="chart-container">
							<canvas id="neustrelitz-station-pie-chart" style="width: 50%; height: 50%"></canvas>
						</div>
					</div>
				</div>
			</div>

			<!-- EDRS -->
			<div class="col-md-6">
				<div class="card">
					<div class="card-header row">
						<div class="card-title">EDRS Acquisition Service availability</div>
						<i class="la flaticon-search-1 ml-2 mt-1" data-placement="bottom"
								   data-toggle="tooltip" onclick="acquisitionService.showAcquisitionStatistics('edrs')"
								   title="Display the EDRS acquisitions statistics"></i>
					</div>
					<div class="card-body">
						<div class="chart-container">
							<canvas id="edrs-pie-chart" style="width: 50%; height: 50%"></canvas>
						</div>
					</div>
				</div>
			</div>

		</div>

	</div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

	<script src="/static/assets/js/plugin/chart.js/chart.min.js"></script>
	<script src="/static/assets/js/quarterly-reports/acquisition-service.js"></script>
	<script defer type="text/javascript">acquisitionService.init();</script>

{% endblock javascripts %}