{% extends "layouts/base-responsive.html" %}

{% block title %} UI Data Takes {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

	<!-- Define page content -->
	<div class="content" style="min-height: calc(100% - 130px);">
		<div class="page-inner">

			<!-- Breadcrumb -->
			<div class="page-header">
				<h4 class="page-title">News</h4>
				<ul class="breadcrumbs">
					<li class="nav-home">
						<a href="/index.html">
							<i class="flaticon-home"></i>
						</a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<a href="#">Admin</a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<a href="#">News</a>
					</li>
				</ul>
			</div>

			<!-- Edit news modal panel -->
			<div class="modal fade" id="editNewsModal" tabindex="-1" role="dialog" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content" style="background: #202940">
						<div class="modal-header no-bd">
							<h5 class="modal-title">
								<span class="fw-mediumbold">Edit</span>
								<span class="fw-light">News</span>
							</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true" style="color: white">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<form>
								<div class="row"  id="news-details">
								</div>
							</form>
						</div>
						<div class="modal-footer no-bd">
							<button type="button" id="edit-news-btn" class="btn btn-primary" onclick="news.updateNews()">Save</button>
							<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>

			<div class="row">

				<!-- Table container -->
				<div class="col-md-12">
					<div class="card">
						<div class="card-body">
							<div class="table-responsive">
								<table id="basic-datatables-news" class="display table table-striped table-hover" >
									<thead>
										<tr>
											<th>Title</th>
											<th style="max-width: 60px">Occurrence Date</th>
											<th style="max-width: 60px">Category</th>
											<th style="max-width: 60px">Impacted Satellite</th>
											<th>Link</th>
											<th style="max-width: 40px">Actions</th>
										</tr>
									</thead>
								</table>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

	<!-- Specific plugins scripts -->
	<!-- Datatables -->
	<script src="/static/assets/js/plugin/datatables/datatables.min.js"></script>

	<!-- Page related JS Class -->
	<script src="/static/assets/js/admin/news.js"></script>
	<script defer type="text/javascript">news.init();</script>

{% endblock javascripts %}